html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #2b2b2b;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1740px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-image: url("../images/header/header-bg.jpg");

  background-image: image-set(
    "../images/header/header-bg.avif" type("image/avif"),
    "../images/header/header-bg.webp" type("image/webp"),
    "../images/header/header-bg.jpg" type("image/jpeg")
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #f5f5f5;
}

.header__top {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 64px 0;
  align-items: center;
  font-weight: 300;
}

.menu {
  justify-self: flex-start;
}

.menu__list {
  display: flex;
  gap: 40px;
  text-transform: uppercase;
}

.logo {
  justify-self: center;
}

.header__phone {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: flex-end;
}

.header__title {
  max-width: 835px;
  padding-top: 100px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 85px;
  font-weight: 400;
  line-height: 1.17;
}

.header__text {
  max-width: 758px;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 30px;
}

.header__btn {
  display: inline-block;
  padding: 20px 49px;
  width: 260px;
  height: 59px;
  background: #f5f5f5;
  line-height: 1.16;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #2b2b2b;
  cursor: pointer;
}
